<h2>Sign up</h2>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="name_kanji field">
  <div class="field">
    <%= f.label :"氏名　　　　　　　　姓" %>
    <%= f.text_field :last_name, autofocus: true  %>
    <%= f.label :"　　名" %>
    <%= f.text_field :first_name, autofocus: true  %>
  </div>
</div>

<div class="name_furigana line">
  <div class="field">
    <%= f.label :"氏名（フリガナ）　セイ" %>
    <%= f.text_field :last_name_kana, autofocus: true  %>
    <%= f.label :"　メイ" %>
    <%= f.text_field :first_name_kana, autofocus: true  %>
  </div>
</div>

<div class="email line">
  <div class="field">
    <%= f.label :"メールアドレス　　　　" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
</div>

<div class="password line">
  <div class="field">
    <%= f.label :"パスワード　　　　　　" %>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <strong>(6文字以上)</strong>
    <% end %>
  </div>


<div class="password_confirmation line">
  <div class="field">
    <%= f.label :"パスワード（再入力）　" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</div>

<div class="postal_code line">
  <div class="field">
    <%= f.label :"郵便番号　　　　　　　" %>
    <%= f.text_field :postcode, autofocus: true  %>
    <strong>(ハイフン不要)</strong>
  </div>
</div>

<div class="address_prefecture line">
  <div class="field">
    <%= f.label :"都道府県　　　　　　　" %>
    <%= f.text_field :prefecture, autofocus: true  %>
  </div>
</div>

<div class="address_city line">
  <div class="field">
    <%= f.label :"住所１（市区町村）　　" %>
    <%= f.text_field :city, autofocus: true  %>
  </div>
</div>

<div class="address_number line">
  <div class="field">
    <%= f.label :"住所２（番地）　　　　" %>
    <%= f.text_field :block, autofocus: true  %>
  </div>
</div>

<div class="address_building line">
  <div class="field">
    <%= f.label :"住所３（建物名）　　　" %>
    <%= f.text_field :building, autofocus: true  %>
  </div>
</div>

<div class="phone_number line">
  <div class="field">
    <%= f.label :"お電話番号　　　　　　" %>
    <%= f.text_field :phone_number, autofocus: true  %>
    <strong>(ハイフン不要)</strong>
    <%= f.hidden_field :delete_flag, :value => 0 %>
  </div>
</div>

<div class="address_building line">
  <div class="field">
    <%= f.label :"表示名" %>
    <%= f.text_field :nickname, autofocus: true  %>
  </div>
</div>

<div class="actions">
  <%= f.submit "新規登録", class: "btn btn-success" %>
</div>
<% end %>

<%= render "users/shared/links" %>
