<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align: center;">
      <div class="page-title">Walker List</div>
      
      <%= search_form_for @q, class: 'md-5',style: ' margin: 0 auto;' do |f| %>
        <div class="form-group row", style="display: inline-block;" >
          <%= f.label :nickname_cont, '名前で検索', class: 'col-sm-5 col-form-label'%>
          <div class="col-sm-7">
            <%= f.search_field :nickname_cont,class: 'form-control'%>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit class: 'btn btn-primary'%>
        </div>
      <% end %>

        <% @walkers.each do |w| %>
          <div class="walker-content fly" style="border: solid gray; padding: 10px 10px;margin: 20px; display: inline-block; width: 180px; text-align: center; float: left;">
            <div class="partner-image" style="width:150px; display: inline-block;">
              <%= attachment_image_tag @walker, :image_id, :fill, 150, 150, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg",  size: '150x150' %>
              <div style="text-align: center;">
                <%= link_to w.nickname, walker_path(w.id) %><br>
                <% recruit = Recruit.where(walker_id: w.id) %>
                <% satisfaction = [] %>
                <% recruit.each do |r| %>
                  <% review = Review.where(recruit_id: r.id) %>
                  <% satisfaction << r.review.satisfaction if review.present? %>
                <% end %>
                <% if satisfaction.present? %>
                  <% satisfaction.sum # 合計 %>
                  <% satisfaction.length # 要素個数 %>
                  <% satisfaction_average = satisfaction.sum / satisfaction.length # 平均 %>
                <% end %>
                <% if satisfaction_average.nil? %>
                  <div id="star-average">※レビューがありません</div><br>
                <% else %>
                  <div id="star-average-<%= w.id %>"><%= satisfaction_average.round(2) %></div>
                  <script>
                  $('#star-average-<%= w.id %>').raty({
                    size: 200,
                    starOff:  '<%= ('star-off.png') %>',
                    starOn : '<%= ('star-on.png') %>',
                    starHalf: '<%= ('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: '<%= satisfaction_average %>',
                  });
                  </script>
                  レビュー件数：<%= satisfaction.length %>件
                <% end %>
              </div>
              <div>
              <h5 style="margin-top: 20px;"><担当エリア></h5>
                <div>
                  <% area_array = [w.area1, w.area2, w.area3]%>
                  <%= area = area_array.compact.join(' ') %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <%= paginate @walkers %>
    </div>
  </div>
</div>


