<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" style="text-align: center;">
      <div class="page-title">Walker一覧</div>
      <%= search_form_for @q, class: 'md-5',style: ' margin: 0 auto;' do |f| %>
        <div class="form-group row", style="display: inline-block;" >
          <%# <%= f.label :nickname_cont,:placeholder => "", class: 'col-sm-5 col-form-label'%>
          <div class="col-sm-12" style="text-align: center;">
            <%= f.search_field :nickname_cont,:placeholder => "名前で検索", class: 'form-control'%>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>

      <div class="walker-list clear">
        <% @walkers.each do |w| %>
          <div class="walker-content fly">
            <div class="circle-avatar" style="width:150px; display: inline-block;text-align: center;">
              <% if w.avatar.present? %>
                <%= image_tag w.avatar.to_s, class: 'avatar img-circle'%>
              <% else %>
                <%= image_tag 'no_avatar.png', class: 'avatar img-circle' %>
              <% end %>
              <div style="text-align: center;">
                <%= link_to w.nickname, walker_path(w.id) %><br>
                <% recruit = Recruit.where(walker_id: w.id) %>
                <% satisfaction = [] %>
                <% recruit.each do |r| %>
                  <% review = Review.where(recruit_id: r.id) %>
                  <% satisfaction << r.review.satisfaction if review.present? %>
                <% end %>
                <% if satisfaction.present? %>
                  <% satisfaction.sum # 合計 %>
                  <% satisfaction.length # 要素個数 %>
                  <% satisfaction_average = satisfaction.sum / satisfaction.length # 平均 %>
                <% end %>
                <% if satisfaction_average.nil? %>
                  <div id="star-average">※レビューがありません</div><br>
                <% else %>
                  <div id="star-average-<%= w.id %>"><%= satisfaction_average.round(2) %></div>
                  <script>
                  $('#star-average-<%= w.id %>').raty({
                    size: 200,
                    starOff:  '<%= ('star-off.png') %>',
                    starOn : '<%= ('star-on.png') %>',
                    starHalf: '<%= ('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: '<%= satisfaction_average %>',
                  });
                  </script>
                  レビュー件数：<%= satisfaction.length %>件
                <% end %>
              </div>
              <div>
              <h5 style="margin-top: 20px;"><担当エリア></h5>
                <div>
                  <% area_array = [w.area1, w.area2, w.area3]%>
                  <%= area = area_array.compact.join(' ') %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
       <%= paginate @walkers %>
    </div>
  </div>
</div>


