<div class="container">
  <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="page-title">Walkerレビュー</div>
			<div class="walker-content" style="width: 100%; margin-top: 30px;" >
				<div style="text-align: center;">
					<% if @walker.delete_flag == 0 %>
						<%= link_to "アカウント情報編集", edit_admins_walker_path if admin_signed_in? %>
					<% else %>
						<p style="color: red;">アカウントが存在しません。</p>
					<% end %>
				</div>

				<div class="circle-avatar">
				  <% if @walker.avatar.present? %>
					  <%= image_tag @walker.avatar.to_s, class:"avatar img-circle" %>
					<% else %>
					  <%= image_tag 'no_avatar.png', class:"avatar img-circle" %>
					<% end %>
				</div>

				<div style="text-align: center;">
				<%= @walker.nickname %>
				<div class ="review-headline clearfix">
					<% if @satisfaction_average.nil? %>
						<div id="star-average">※レビューはございません</div>
					<% else %>
						<div>
							<div id="star-average">
							  <%= @satisfaction_average.round(2) %>
							</div>
							<script>
								$('#star-average').raty({
									size: 200,
									starOff:  '<%= ('star-off.png') %>',
									starOn : '<%= ('star-on.png') %>',
									starHalf: '<%= ('star-half.png') %>',
									half: true,
									readOnly: true,
									score: <%= @satisfaction_average %>,
								});
							</script>
							<%= @satisfaction.length %>件
						</div>
					<% end %>
					<p>紹介文
					<div class="introduction-content">
						<%= @walker.introduction %>
          </div>
				</div>
			</div>
			<div style="border: solid margin-top: 10px;">
					<% @reviews.each.with_index(1) do |r,i| %>
					<div class="reviews-container clearfix box-maru">
						<h4><%= "#{i}. " %><%= r.title %></h4>
						<div id="star-rate-<%= r.id %>"></div>
						<script>
							$('#star-rate-<%= r.id %>').raty({
								size: 36,
								starOff:  '<%= ('star-off.png') %>',
								starOn : '<%= ('star-on.png') %>',
								starHalf: '<%= ('star-half.png') %>',
								half: true,
								readOnly: true,
								score: <%= r.satisfaction %>,
							});
			      </script>
						<h6><%= r.content %></h6>
						<h6>投稿者：<%= r.recruit.user.nickname %> /投稿日：<%= r.created_at.strftime('%y/%m/%d') %></h6>
					</div>
					<% end %>
				</div>
			</div>
	  </div>
	</div>
</div>

