<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-title">Recruit</div>
      <table class="table table-hover" >
        <thead>
          <th style="width: 30px;">No</th>
          <th style="width: 500px;">利用日時</th>
          <th>ユーザ名</th>
          <th>walker名</th>
          <th>ステータス</th>
        </thead>
        <% @recruits.each do |r|%>
        <tbody>
          <th style="width: 30px;"><%= link_to r.id,  admins_recruit_path(r.id)%></th>
          <th style="width: 500px;"><%= r.offer_date%>  <%= r.start_time.strftime('%H:%M')%>-<%= r.finish_time.strftime('%H:%M') %></th>
          <th><%= r.user.nickname%></th>
          <th>
            <% if r.walker_id.present? %>
              <% warlker = Walker.find(r.walker_id) %>
              <%= warlker.nickname %>
            <% else %>
                提供者なし
            <% end %>
          <th>
            <% if r.status == 0 %>
             募集中
             <% elsif r.status == 1  && r.offer_date < Date.today %>
             完了
            <% else %>
             マッチング成功
             <% end %>
          </th>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>