<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="maru-box">
      <div class="page-title">User edit</div>

        <%= form_for [:admins, @user] do |f| %>
          <div class="name field">
            <div class="field">
              <%= f.label :"氏名　　　　　　　　姓" %>
              <%= f.text_field :last_name, autofocus: true  %>
              <%= f.label :"　　名" %>
              <%= f.text_field :first_name, autofocus: true  %>
            </div>
          </div>

          <div class="name_kana line">
            <div class="field">
              <%= f.label :"氏名（フリガナ）　セイ" %>
              <%= f.text_field :last_name_kana, autofocus: true  %>
              <%= f.label :"　メイ" %>
              <%= f.text_field :first_name_kana, autofocus: true  %>
            </div>
          </div>

          <div class="email line">
            <div class="field">
              <%= f.label :"メールアドレス　　　　" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="postcode line">
            <div class="field">
              <%= f.label :"郵便番号　　　　　　　" %>
              <%= f.text_field :postcode, autofocus: true  %>
              <strong>(ハイフン不要)</strong>
            </div>
          </div>

          <div class="prefecture line">
            <div class="field">
              <%= f.label :"都道府県　　　　　　　" %>
              <%= f.select :prefecture, @prefecture, :prompt => "選択してください"   %>
            </div>
          </div>

          <div class="city line">
            <div class="field">
              <%= f.label :"住所１（市区町村）　　" %>
              <%= f.text_field :city, autofocus: true  %>
            </div>
          </div>

          <div class="block line">
            <div class="field">
              <%= f.label :"住所２（番地）　　　　" %>
              <%= f.text_field :block, autofocus: true  %>
            </div>
          </div>

          <div class="building line">
            <div class="field">
              <%= f.label :"住所３（建物名）　　　" %>
              <%= f.text_field :building, autofocus: true  %>
            </div>
          </div>

          <div class="phone_number line">
            <div class="field">
              <%= f.label :"お電話番号　　　　　　" %>
              <%= f.text_field :phone_number, autofocus: true  %>
              <strong>(ハイフン不要)</strong>
              <%= f.hidden_field :delete_flag, :value => 0 %>
            </div>
          </div>

          <div class="nickname line">
            <div class="field">
              <%= f.label :"表示名　　　　　　　　" %>
              <%= f.text_field :nickname, autofocus: true  %>
            </div>
          </div>
          <div class="actions">
             <%= f.submit "Update" %>
             
             <%= submit_tag "削除する", name: "delete_button" %>
          </div>
        <% end %>

<h3>Cancel my account</h3>

<%= link_to "Back", :back %>
