<h1>Walkers::Recruits#index</h1>

  <table class="table bordered">
    <tr>
      <th>#</th>
      <th>利用日</th>
      <th>時間指定</th>
      <th>場所</th>
      <th>ステータス</th>
    </tr>
    <%= @recruits.each_with_index do |r, i| %>
    <tr>
      <th><%= "#{i+1}" %></th>
      <th><%= r.offer_date%></th>
      <th><%= r.start_time.strftime('%H:%M') %> - <%= r.finish_time.strftime('%H:%M') %></th>
      <th><%= r.user.prefecture %></th>
      <th>
        <% if r.status == 0 %>
           募集中
        <% elsif r.status == 1 %>
          応募済み
        <% elsif r.status == 2 && r.offer_date < Date.today %>
           完了
        <% elsif r.status == 2 %>
           マッチング成功
        <% end %>
      </th>
      <th><%= link_to "詳細", walkers_recruits_show_path(r.id) %></th>
    </tr>
    <% end %>
  </table>
