<h1>募集詳細ページ</h1>

<h4>利用日</h4>
<span><%= @recruit.offer_date %></span>
<p>所要時間</p>
<span><%= @recruit.start_time.strftime('%H:%M') %> - <%= @recruit.finish_time.strftime('%H:%M') %></span>
<p>場所</p>
<span><%= @recruit.offer_date %></span>
<p>備考</p>
<span><%= @recruit.text %></span>

<h4>パートナー名</h4>
<span><%= @recruit.partner.name %></span>
<h4>種類</h4>
<span><%= @recruit.partner.dog_breed %></span>
<h4>性別</h4>
<span><%= @recruit.partner.gender %></span>
<h4>体重</h4>
<span><%= @recruit.partner.weight %></span>
<h4>性格</h4>
<span><%= @recruit.partner.character %></span>


<% if @recruit.status_before_type_cast == 0 && @walker_recruit.present? %>
  <%= link_to '応募済み',walkers_recruits_destroy_path(@walker_recruit), method: :delete, id:"status1", :style=>"font-size: 40px; color: white; background-color: red;" %>
  <%= form_for(@room, url:'/rooms') do |r| %>
  <%= r.hidden_field :walker_id, :value=> current_walker.id %>
  <%= r.hidden_field :recruit_id, :value=> @recruit.id %>
  <%= r.submit "チャットを始める" %>
<% end %>
<% elsif @recruit.status_before_type_cast == 0  %>
  <%= link_to '募集中', walkers_recruits_path(recruit_id: @recruit.id, walker_id: current_walker.id), method: :post, id:"status2", :style=>"font-size: 40px; color: black;" %>
<% end %>



    
