<!DOCTYPE html>
<html>
  <head>
    <title>Dow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(function(){
      $("ul.header-menu a").click(function(){
        $("ul.header-menu a.selected").removeClass("selected");
        $(this).addClass("selected");
      });
    });
  </script> %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header id="header">
      <%#= link_to "Dow!", root_path, style:"font-size: 50px; width: 100px;" %>
      <h1 style="font-size: 50px; width: 90px; float:left;">Dow!</h1>
        <% if flash[:success] %>
          <p style="color: green;"><%= flash[:success] %></p>
        <% end %>
      <div class="type1" style="float: right;">
        <ul class="header-menu" style="padding-top: 20px;">
          <!-- ユーザログイン時 -->
          <% if user_signed_in? %>
            <li class="menu">
              <%= link_to "Home", root_path, :style=>"color: black;" %>
            </li>
            <li class="menu">
              <%= link_to "About", about_path, :style=>"color: black;" %>
            </li>
            <li class="menu">
              <%= link_to  "Walker", walkers_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Recruit", new_users_recruit_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Message", rooms_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Mypage", users_user_path(current_user), :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :style=>"color: black;"  %>
            </li>
          <!-- Walkerログイン時 -->
          <% elsif walker_signed_in? %>
            <li class="menu">
              <%= link_to "Home", root_path, :style=>"color: black;" %>
            </li>
            <li class="menu">
              <%= link_to "About", about_path, :style=>"color: black;" %>
            </li>
            <li class="menu">
              <%= link_to  "Walker", walkers_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Recruit", walkers_recruits_index_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Message", rooms_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Mypage", walkers_walker_path(current_walker), :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to "Logout", destroy_walker_session_path, method: :delete, :style=>"color: black;"  %>
            </li>
          <!-- 管理者ログイン時 -->
          <% elsif admin_signed_in? %>
            <li class="menu">
              <%= link_to "Home", root_path, :style=>"color: black;" %>
            </li>
            <li class="menu">
              <%= link_to "Recruit list", admins_recruits_path, :style=>"color: black;" %>
            </li>
            <li class="menu">
              <%= link_to  "User list", admins_users_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Walker list", walkers_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Contact", admins_contacts_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to "Logout", destroy_admin_session_path, method: :delete, :style=>"color: black;"  %>
            </li>
          <!-- 未ログイン時 -->
          <% else %>
            <li class="menu">
              <%= link_to "Home", root_path, :style=>"color: black;" %>
            </li>
            <li class="menu">
              <%= link_to "About", about_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Walker list", walkers_path, :style=>"color: black;"  %>
            </li>
            <li class="menu">
              <%= link_to  "Sign up", '' , class: "js-modal-open", style: "color: black;" %>
              <!-- user or walker を選択させるモーダルを表示 -->
              <div class="modal js-modal">
                <div class="modal__bg js-modal-close"></div>
                <div class="modal__content">
                  <p>どちらで登録するか選択してください。</p>
                  <%= link_to "散歩をお願いしたい方", new_user_registration_path ,class: "js-modal-user-signup" %><br>
                  <%= link_to "Walkerになりたい方" , new_walker_registration_path , class: "js-modal-walker-signup" %><br>
                  <div style="text-align: right"><a class="js-modal-close" heref="" >閉じる</a></div>
                </div>
              </div>
            </li>
            <li class="menu">
              <%= link_to  "Log in", '', class: "js-modal-open2", style: "color: black;"  %>
                <div class="modal js-modal2">
                <div class="modal__bg js-modal2-close"></div>
                <div class="modal__content">
                  <p>どちらでログインするか選択してください。</p>
                  <%= link_to "散歩を依頼したい方", new_user_session_path ,class: "js-modal-user-login", style: " "%><br>
                  <%= link_to "Walkerの方" , new_walker_session_path , class: "js-modal-walker-login" %><br>
                  <div style="text-align: right"><a class="js-modal2-close" heref="">閉じる</a></div>
                </div>
              </div>
            </li>
          <% end %>
          </ul>
      </div>
    </header>
    <%= yield %>
    <div class="footer">
      <div id="button"></div>
      <div id="container">
        <div id="cont">
          <div class="footer_center">
            <h3><%= link_to "Contact", new_contact_path ,style: "color: white; "%></h3>
            <%%>
          </div>
        </div>
      </div>
    </div>
  <script>
    //ヘッダーの高さ分だけコンテンツを下げる
    $(function() {
        var height=$("#header").height();
        $("body").css("margin-top", height + 10);//10pxだけ余裕をもたせる
    });
  </script>

  <script>
    $(function () {
      $('.js-modal-open').on('click',function(){  //モーダルを表示
        $('.js-modal').fadeIn();
        return false;
      });
      $('.js-modal-user-signup').on('click',function(){  //ユーザ登録画面へ遷移
        window.location.href = '/users/sign_up';
        //$('.js-modal').fadeOut();
        //return false;
      });
      $('.js-modal-walker-signpup').on('click',function(){  //Walker登録画面へ遷移
        window.location.href = '/walkers/sign_up';
        // $('.js-modal').fadeOut();
        // return false;
      });
      $('.js-modal-close').on('click',function(){  //閉じる
        $('.js-modal').fadeOut();
        return false;
      });
    });
  </script>

    <script>
    $(function () {
      $('.js-modal-open2').on('click',function(){  //モーダルを表示
        $('.js-modal2').fadeIn();
        return false;
      });
      $('.js-modal-user-login').on('click',function(){  //ユーザログイン画面へ遷移
        window.location.href = '/users/sign_in';
        //$('.js-modal').fadeOut();
        //return false;
      });
      $('.js-modal-walker-login').on('click',function(){  //Walkerログイン画面へ遷移
        window.location.href = '/walkers/sign_in';
        // $('.js-modal').fadeOut();
        // return false;
      });
      $('.js-modal2-close').on('click',function(){  //閉じる
        $('.js-modal2').fadeOut();
        return false;
      });
    });
  </script>

</html>
